<!DOCTYPE html>
<html  ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="css/style.css" rel="stylesheet">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!--
    <script src="lib/ionic/js/angular-resource.js"></script> -->
    <script src="//code.ionicframework.com/1.0.0-beta.14/js/angular/angular-resource.js"></script>

<!--
    <link href="http://code.ionicframework.com/1.0.0-beta.14/css/ionic.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/1.0.0-beta.14/js/ionic.bundle.js"></script>
    <script src="//code.ionicframework.com/1.0.0-beta.14/js/angular/angular-resource.js"></script> -->
<!--
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script src="//code.ionicframework.com/nightly/js/angular/angular-resource.js"></script>
-->

    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>

    <!-- google maps javascript -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

    <!-- ngmap -->
<!--
    <script src="//rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script> -->
    <script src="lib/ngmap/spec/lib/markerclusterer.js"></script>
    <script src="lib/ngmap/app/scripts/app.js"></script>
    <script src="lib/ngmap/app/scripts/directives/map_controller.js"></script>
    <script src="lib/ngmap/app/scripts/directives/map.js"></script>
    <script src="lib/ngmap/app/scripts/directives/marker.js"></script>
    <script src="lib/ngmap/app/scripts/directives/shape.js"></script>
    <script src="lib/ngmap/app/scripts/directives/info-window.js"></script>
    <script src="lib/ngmap/app/scripts/services/geo_coder.js"></script>
    <script src="lib/ngmap/app/scripts/services/navigator_geolocation.js"></script>
    <script src="lib/ngmap/app/scripts/services/attr2_options.js"></script>
    <script src="lib/ngmap/app/scripts/services/street_view.js"></script>


    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>


<!--
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/angularfire.min.js"></script>
     -->
    <script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>


  </head>

    <script src="js/app.js"></script>
    <script src="js/date.js"></script>
    <script src="js/controllers/get-togethers.js"></script>
    <script src="js/controllers/friends.js"></script>
    <script src="js/controllers/chats.js"></script>
    <script src="js/controllers/dash.js"></script>
    <script src="js/controllers/account.js"></script>
    <script src="js/services/friends.js"></script>
    <script src="js/services/chats.js"></script>
    <script src="js/services/data.js"></script>
    <script src="js/directives.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

  </head>
  <body>

    <!-- http://codepen.io/anon/pen/RNQMEE -->
    <ion-side-menus>

         <ion-side-menu-content ng-controller="NavCtrl">
           <ion-nav-bar class="bar-positive">
             <ion-nav-back-button class="button-icon ion-arrow-left-c">
             </ion-nav-back-button>
           </ion-nav-bar>
           <ion-nav-buttons side="left">
             <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
             </button>
           </ion-nav-buttons>

           <ion-nav-buttons side="right">
             <button class="button button-icon button-clear ion-ios7-gear" ng-click="showRightMenu()">
             </button>
           </ion-nav-buttons>
           <ion-nav-view animation="slide-left-right"></ion-nav-view>
         </ion-side-menu-content>

         <ion-side-menu side="left">
           <!-- Center content -->
           <!-- <ion-side-menu-content ng-controller="GetTogethersCtrl">
           </ion-side-menu-content> -->

           <ion-header-bar class="bar bar-header bar-assertive">
             <h1 class="title">Left Menu</h1>
           </ion-header-bar>
           <ion-content has-header="true">
             <ul class="list">
               <li>
                 <a class="item" menu-close nav-clear href="#/tab/home">Home</a>
               </li>
               <li>
                 <a class="item" menu-close href="#/tab/get-togethers-list">Get togethers</a>
               </li>
             </ul>
           </ion-content>
         </ion-side-menu>

         <ion-side-menu side="right">
           <ion-header-bar class="bar bar-header bar-dark">
             <h1 class="title">Right Menu</h1>
           </ion-header-bar>
           <ion-content>
             <ul class="list">
               <li>
                 <a class="item" menu-close nav-clear href="#/search">Search</a>
               </li>
               <li>
                 <a class="item" menu-close nav-clear href="#/settings">Settings</a>
               </li>
             </ul>
           </ion-content>
         </ion-side-menu>

       </ion-side-menus>


       <script id="home.html" type="text/ng-template">
             <ion-view title="Home">
               <ion-content>
                 <h1>shmuuz</h1>
                 <h2>singles get-togethers</h2>
                 Shmuuz brings together 5 to 10 like-minded people who might want to meet in an informal or interesting setting. You will meet people every week. Every day, if you’d like.
               </ion-content>
             </ion-view>
           </script>

           <script id="about.html" type="text/ng-template">
             <ion-view title="About">
               <ion-content>
                 <h3>About us</h3>
                 <p>
                   <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
                 </p>
               </ion-content>
             </ion-view>
           </script>

           <script id="nav-stack.html" type="text/ng-template">
             <ion-view title="Tab Nav Stack">
               <ion-content>
                 <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
               </ion-content>
             </ion-view>
           </script>

           <script id="contact.html" type="text/ng-template">
             <ion-view title="Contact">
               <ion-content>
                 <p>@IonicFramework</p>
                 <p>@DriftyCo</p>
               </ion-content>
             </ion-view>
           </script>

           <script id="settings.html" type="text/ng-template">
             <ion-view title="Settings">
               <ion-content>
                 Settings page
               </ion-content>
             </ion-view>
           </script>

           <script id="search.html" type="text/ng-template">
             <ion-view title="Search">
               <ion-content>
                 Search page
               </ion-content>
             </ion-view>
           </script>
  </body>
</html>
